      <h2>Search notebooks</h2>
      
      <%= turbo_stream_from :new %> 

      <%= render 'new_empty_search_notebook' %> 

      <%= form_with url: search_search_notebooks_path	 do |form| %>
        <%= form.text_field 'search_terms', placeholder: 'Enter search terms...' %>
        <%= form.submit 'Search', data: { disable_with: false } %>
      <% end %>

      <div class="table-responsive">
        
        <%= turbo_stream_from :search_notebooks %>

        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">title</th>
              <th scope="col">created_at</th>
              <th scope="col">actions</th>
            </tr>
          </thead>
          <%= render 'search_notebooks' %>
        </table>
        <%= render "pager", pagy: @pagy %>
      </div>
    </div>